<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295447914446-jehhhkke0tto7i66rh0a7aqefu40ojge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295447914446-jehhhkke0tto7i66rh0a7aqefu40ojge</string>
	<key>API_KEY</key>
	<string>AIzaSyDaqMxUKEq_XSRR4-sVunkmUARb9u8eC_8</string>
	<key>GCM_SENDER_ID</key>
	<string>295447914446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unctechx.techx</string>
	<key>PROJECT_ID</key>
	<string>techx-540f6</string>
	<key>STORAGE_BUCKET</key>
	<string>techx-540f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295447914446:ios:da7581c677b5e4d638ad9f</string>
</dict>
</plist>